<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZkgLFu7dTdp7EfBtFirwk1pvPnipwdHU</string>
	<key>GCM_SENDER_ID</key>
	<string>12350762234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wildlifeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wildlife-app-a0aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>wildlife-app-a0aa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12350762234:ios:87e250b6315faa33b7ad43</string>
</dict>
</plist>